In [108]:
# Importing necessary packages for web scrapping 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [103]:
# Define the URL of the webpage to scrape  
URL = "https://onepiece.fandom.com/wiki/List_of_Canon_Characters"
r = requests.get(URL)
soup = BeautifulSoup(r.content, 'html.parser')
table_names = soup.find('table', attrs={'class': 'wikitable sortable'}).findAll('tr')
data = [[j for j in i.findAll('td')] for i in table_names[1:]]

In [104]:
# Data cleaning
characters_list = []
for row in data:
    name = row[1].text.strip()
    characters_list.append([name])

In [107]:
# Import data into dataframe
df = pd.DataFrame(characters_list, columns=["Name"])

# Import dataframe into csv file
csv_filename = "one_piece_characters.csv"
df.to_csv(csv_filename, index=False)

In [109]:
df.head()

       Name
0       A O
1  Abdullah
2   Absalom
3    Acilia
4     Adele